{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'snslaw/style.css' %}">

<html dir="rtl" lang="he">
<div class="row">
  <div class="column"> לקוחות</div>
  <div class="column"> <a href="calc_input/">תיקים</a></div>
  <div class="column"> <a href="schat/">יומן פגישות</a></div>
  <div class="column"> <a href="add/">לוח משימות</a></div>
  <div class="column"> <a href="add/">מסמכים</a></div>
  <div class="column"> <a href="add/">כלי עזר</a></div>
</div>

<div class="link1">
  <div class="link1"> <a href="show_clients/">רשימת לקוחות</a></div>
  <div class="link1"> <a href="add_record/">לקוח חדש</a></div>
  <div class="link1"> <a href="mynewfile/">תיק חדש</a></div>
  <div class="link1"> <a href="tadfile/">תיק תד חדש</a></div>
  <div class="link1"> <a href="mytest1/">בדיקות1 בלבד</a></div>
</div>


